.filmography {
  margin: 30px 0;
  padding: 0 50px !important;
  position: relative;
  
  h2 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
  }
  
  .movie .cover a img {
    width: 95%;
    height: auto;
  }
}